#profile-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 35%;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.profile-side-info {
  height: 50%;
  position: absolute;
  left: 75%;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.profile-image-wrapper {
  position: relative;
  margin-top: 10%;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-ring {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

#profile-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.progress-ring__bg {
  stroke: #e5e5e5;
  stroke-width: 8;
  fill: transparent;
}

.progress-ring__progress {
  stroke: #1e87f0;
  stroke-width: 8;
  fill: transparent;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s ease;
}

#achievement-section {
  height: 65%;
  overflow-y: scroll;
}

#level_wrapper {
  background: #1e87f0;
  margin-bottom: 15px;
  text-align: center;
}

#group_name {
  margin-top: 1%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#streak_wrapper {
  background: #f54b2c;
}

.side_info_icon {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
}

.side_info {
  padding: 4px;
  color: white;
  border-radius: 50% / 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  align-items: center;
  display: flex;
  gap: 8px;
}

.side_info span {
  line-height: 1;
  padding-right: 4px;
  font-size: 1.3rem;
  font-weight: bold;
}

#achievement_header {
  color: #555;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
  margin-bottom: 12px;
}